#text{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}


#button{

    padding: 10px;
    width: 250px;
    color: white;
    background-color: lightblue;
    border: none;
}

#box{

    background-color: grey;
    margin: auto;
    width: 300px;
    padding: 20px;
    margin-bottom: 1rem;

}

#login {
    font-size: 20px;
    margin: 10px;

}
#phoneForm input {
    display: block;

}


/* upload phone */
form {
    display: flex;
    flex-direction: column;
    width: 70%; /* Adjust as needed */
    margin: 0 auto;
}

#phoneForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}



/* Navigation bar style */
nav {
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    color: #ccc;
}

#searchbar {
    width: 60%; /* Set the width of the form to 50% of its parent element */
    margin-top: 20px;
    vertical-align: top;
    horiz-align: left;


}

#search {
    width: 40%; /* Set the width of the search bar to 60% of its parent element */
    padding: 12px 20px; /* Add some padding to the input field */
    border: 1px solid #ccc; /* Add a border to the input field */
    border-radius: 4px; /* Round the corners of the input field */
}

button[type="submit"] {
    width: 20%; /* Set the width of the submit button to 20% of its parent element */
    background-color: #4CAF50; /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    padding: 14px 20px; /* Add some padding to the button */
    border: none; /* Remove the border from the button */
    border-radius: 4px; /* Round the corners of the button */
    cursor: pointer; /* Add a cursor to the button */
}

button[type="submit"]:hover {
    background-color: #45a049; /* Change the background color on hover */
}

button[type="reset"] {
    background-color: #f44336; /* Set the background color of the button */
    color: white; /* Set the text color of the button */
    padding: 14px 20px; /* Add some padding to the button */
    border: none; /* Remove the border from the button */
    border-radius: 4px; /* Round the corners of the button */
    cursor: pointer; /* Add a cursor to the button */
}

button[type="reset"]:hover {
    background-color: #da190b; /* Change the background color on hover */
}